@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    position: relative;
    box-sizing: border-box;
}

body {
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
}

.centerByAbsolute {
    position: absolute;
    top: 50%;
    left: 50%;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.page_wrapper {
    width: 100vw;
    padding-top: 72px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.page_wrapper .page_title {
    text-align: center;
}

.page_wrapper label {
    margin-bottom: 1rem;
}

.parentSize {
    height: 100%;
    width: 100%;
}

.middle {
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.translate-x-N50Percent {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

form.disabled::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    margin: auto;
    z-index: 99;
    border-radius: 50%;
    border: 1px solid #fff;
    border-top-color: grey;
    animation: spinner .6s linear infinite;
}

form.disabled::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

/**
* Fonts
*/
.page-title-xl {
    text-align: center;
    font-size: 7rem;
}
.page-title-lg {
    text-align: center;
    font-size: 5rem;
}

.page-title-brief-description {
    font-size: 1.5rem;
    font-style: italic;
}

/**
* Background Images
*/
.bg-sunset {
    background-image: url('/images/sunset.jpg');
}

/**
* Observable - Animations
*/
.observable {
    opacity: 1;
    transform: translate(0px, 0px);
    transition-property: transform, opacity, filter;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.observable.observable-animate-opacity {
    transition-duration: 0s; /* Makes the animation when not visible in the viewport instantly */
    opacity: 0;
}

.observable.observable-animate-translateFromLeft {
    transition-duration: 0s; /* Makes the animation when not visible in the viewport instantly */
    transform: translateX(-50px);
}

.observable.observable-animate-translateFromRight {
    transition-duration: 0s; /* Makes the animation when not visible in the viewport instantly */
    transform: translateX(50px);
}

.observable.observable-animate-translateFromBottom {
    transition-duration: 0s; /* Makes the animation when not visible in the viewport instantly */
    transform: translateY(50px);
}

.observable.observable-animate-blur {
    transition-duration: 0s; /* Makes the animation when not visible in the viewport instantly */
    filter: blur(4px);
}

/**
* Modal
.modal {
    opacity: 0;
}

.modal.active {
    opacity: 1;
}
*/