.header_image {
    margin-bottom: 20px;
}

.page_title {
    color: black;
    margin-bottom: 70px;
}

.page_wrapper label {
    margin-bottom: 1rem;
}

.submit_button {
    margin-bottom: 10px;
}

.register_button {
    color: rgb(59 130 246 / var(--tw-bg-opacity))
}